/* Box sizing rules */
*,
*::before,
*::after {
  color: white;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #000;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Font-sizes & Font-weights */

/* Styling of the components */

/* To Center placeholder text */
.page-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Navbar */
.nav {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.logo {
  width: 90px;
  height: 50px;
}

.left-nav {
  display: flex;
}

.left-nav a,
.right-nav a {
  margin: 30px;
  cursor: pointer;
  font-size: 1.3rem;
  color: aliceblue;
  text-decoration: none;
}

.left-nav a:hover {
  color: red;
}

.right-nav {
  display: flex;
}

/* Home-page */

/* Remove underline from anchor */
.link {
  text-decoration: none;
}

.poster-img {
  height: 600px;
}

.poster-img > img {
  margin: auto;
  display: block;
  width: 100%;
}

.poster-overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.poster-overlay:hover {
  opacity: 1;
}

.poster-title {
  font-weight: 900;
  font-size: 4rem;
  text-align: left;
  margin-bottom: 0.4rem;
}

.poster-info {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.poster-rating {
  margin-left: 3rem;
}

.poster-desc {
  width: 50%;
  display: flex;
  font-size: 1rem;
  text-align: left;
  font-style: italic;
  margin-bottom: 0.25rem;
}

/* Movie cards */
.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards-img {
  height: 300px;
}

.cards-overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 290px;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.2s;
}

.cards-overlay:hover {
  opacity: 1;
}

.card-title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card-info {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.card-rating {
  float: right;
}

.card-description {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.movie-list {
  padding: 0 3rem 3rem 3rem;
}

.list-title {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
